<div class="form">
    
  <%= form_for(@event) do |f| %>

    <%= errors_for(@event) %>
    <div class="field-wrap">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control', placeholder: "Event name"%>
    </div>
    <div class="field-wrap">
      <%= f.label :email %><br>
      <%= f.text_field :email, type: 'email', class: 'form-control', placeholder: "Author's email"%>
    </div>
    <div class="field-wrap">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control', placeholder: "Event description"%>
    </div>
     <div class="field-wrap">
      <%= f.label :date %><br>
      <%= f.date_select :date%>
    </div>
    <div class="actions">
      <%= f.submit 'Save', class:'btn btn-info' %>
    </div>
  <% end %>
</div>