<div class="container"  >

  <div class="row">
    <h1>Welcome to new event manager</h1>
  </div>
  <div class="row" style="margin-bottom: 10px;">
    <a href=<%= new_event_path %> class="btn btn-info" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add event
    </a>
  </div>  

  <div class="row">
    <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="<%= events_path(order: 'date') %>">Date</a>
      <a class="dropdown-item" href="<%= events_path(order: 'name') %>">Names</a>
      <a class="dropdown-item" href="<%= events_path(order: 'email') %>">Email</a>
    </div>
  </div>


  <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="th-sm">Name</th>
        <th class="th-sm">Description</th>
        <th class="th-sm">Email</th>
        <th class="th-sm">Date</th>
        <th class="th-sm">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr class="<%=event_class_color(event)%>">
          <td ><%= event.name %></td>
          <td><%= event.description %></td>
          <td><%= event.email %></td>
          <td><%= event.date %></td>
          <td>
            <a href=<%= event_path(event) %> class="btn btn-info" role="button">View</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>