<div class="container">
  <div class="row">
  <%= link_to 'Back to events', events_path, class: 'btn btn-danger' %>
  </div>
  <div>
    <div class="row">
      <h1>Name: <%= @event.name %></h1>
    </div>
    <div class="row">
      <h2>Email: <%=@event.email %></h2>
    </div>
    <div class="row">
      <h2>Descrition: <%=@event.description %></h2>
    </div>
    <div class="row">
      <h2>Date: <%=@event.date %></h2>
    </div>
  </div>
  <% if @event.comments.count > 0 %>
  <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="th-sm">Created time</th>
        <th class="th-lg">Author</th>
        <th class="th-lg">Message</th>
      </tr>
    </thead>
    <tbody>
      <% @event.comments.each do |comment| %>
        <tr>
          <td><%= time_ago_in_words(comment.created_at) %> ago</td>
          <td><%= comment.author %></td>
          <td><%= comment.msg %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
    <h2>No comment yet</h2>
  <% end %>
  <div class="row">
    <h>Add new comment</h3>
  </div>
  <div class="row">
    <div class="form">
    <%= form_for(@comment, url: event_comments_path(@event.id)) do |f| %>

      <%= errors_for(@comment) %>
      <div class="field-wrap">
        <%= f.label :author %><br>
        <%= f.text_field :author,class: 'form-control', placeholder: "Author's name"%>
      </div>
      <div class="field-wrap">
        <%= f.label :msg %><br>
        <%= f.text_area :msg, class: 'form-control', placeholder: "Comment"%>
      </div>
      <div class="actions">
        <%= f.submit 'Save', class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div>  



</div>