// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  color: gray;
}

.table {
  color: black;
}

.actions{
  margin-top: 20px;
}
